/************ LAYOUT ************/
body{
  margin: 0px auto;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  
}



  .a-1{
    color: black;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    line-height: 24px;
    margin-left: 20px;
    padding-right: 10px;
  }
  
  .a-1:hover{
    text-decoration: underline;
  }
  
  .google-png{
    
    padding: 15px;
    display: block; 
    margin: auto
  }
  img:hover{
    opacity: 0.8;
  }
  
  .button1{
    background: #1a73e8;
    border: 1px solid transparent ;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin: 20px;
    
  }
  .button1:hover{
    background: #4285f4;
    border: 2px solid #4285f4;
  }
  

  .orta{
    margin-top: 90px;
  }

.logo{
  text-align: center;
  width: 40px;
}

.arama{
  width: 580px;
  margin: 0px auto;
  position: relative;
  margin-top: -8px;
  text-align: center;
}

.s-input{
  display: block;
  border: 1px solid #ddd;
  color: rgba(red, green, blue, alpha);
  font-size: 16px;
  padding: 13px;
  padding-left: 45px;
  width: 100%;
  outline: none;

}
.s-input:hover{
  box-shadow: 1px 1px 5px grey;
}

.serach-icon{
  width: 20 px;
  position: absolute;
  top: 13px;
  left: 14px;

}

.vs-icon{
  width: 18px;
  position: absolute;
  top: 13px;
  right: -30px;
}
.vs-icon:hover{
  opacity: 0.8;
}
 
.keyboard-icon{
  width: 30px;
  position: absolute;
  top: 13px;
  right: -5px;
}

.keyboard-icon:hover{
  opacity: 0.8;
}

.button2{
  border: 1px solid transparent;
  padding: 9px 15px;
  color: black;
  font-size: 14px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 28px;
  cursor: pointer;
}
.button2:hover{
  border: 1px solid #aaa;

}


.footer{
  background-color: #ebe8e8;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 150px;
}

h4{
  color: rgba(0,0,0,0.54);
  font-size: 15px;
  line-height: 10px;
  font-weight: 200;
  padding-left: 29px;
  
}

.a-2{
  color: #5f6368; 
  display: inline-block; 
  padding: 12px 11px; 
  font-size: 14px; 
  text-decoration: none;
  text-align: right;
}

.a-2:hover{
 text-decoration: underline;
}

.altbilgi{
 
 display: flex; 
}

.altbilgil{ 
  padding-left: 18px; 
  flex: 1;
}

.altbilgi2{ 
  padding-right: 18px;
  
}
